/* Container for the card section with arrows for scrolling */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  width: 100%;
  overflow: hidden; /* Prevents overflow in the container */
}

/* Card container to enable horizontal scroll */
.cardContainer {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  overflow-x: auto; /* Enables horizontal scrolling */
  scroll-behavior: smooth;
  flex-wrap: nowrap; /* Prevents wrapping of cards */
  width: 100%; /* Allow the container to take full width */
  max-width: 100%; /* Ensures it does not stretch too wide */
}

:root {
  --card-bg-color-light: #ffffff;
  --card-bg-color-dark: #1e1e1e;
}

[data-theme="light"] .card {
  background-color: var(--card-bg-color-light);
}

[data-theme="dark"] .card {
  background-color: var(--card-bg-color-dark);
}

.card {
  border-radius: 8px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  width: 18rem;
  overflow: hidden;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex-shrink: 0;
  margin: 20px;
}

/* The color bar on top of each card */
.cardColor {
  height: 15px;
  width: 100%;
}

/* Different color gradients for each card */
.cardColor.iron {
  background: linear-gradient(90deg, #858585, #5f5f5f);
}
.cardColor.bronze {
  background: linear-gradient(90deg, #e7a034, #cd7f32);
}
.cardColor.silver {
  background: linear-gradient(90deg, #f7f7f7, #e6e6e6);
}
.cardColor.gold {
  background: linear-gradient(90deg, #eec40c, #ecc30b);
}
.cardColor.platinum {
  background: linear-gradient(90deg, #18a3f3, #5672f1);
}
.cardColor.emerald {
  background: linear-gradient(90deg, #1dd605, #018012);
}
.cardColor.diamond {
  background: linear-gradient(90deg, #7e3ff5, #5d1ad8);
}
.cardColor.astral {
  background: linear-gradient(90deg, #9309d3, #c13ff5, #9309d3);
}
.cardColor.cosmic {
  background: linear-gradient(90deg, #29b1f0, #b7e8ff, #29b1f0);
}
.cardColor.eternity {
  background: linear-gradient(90deg, #ff1e00, #f57b08, #ff1e00);
}

/* Card content section */
.cardContent {
  padding: 20px;
}

/* Title styling */
.cardContent h3 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Paragraph styling */
.cardContent p {
  margin-bottom: 10px;
  line-height: 1.5;
}

/* Link styling */
.cardContent a {
  color: #00bcd4;
  text-decoration: none;
  font-weight: bold;
}

/* Hover effect for links */
.cardContent a:hover {
  text-decoration: underline;
}

/* Styling for scroll buttons */
.scrollButton {
  background-color: #333;
  color: white;
  border: none;
  padding: 9px;
  cursor: pointer;
  border-radius: 5px;
  z-index: 1;
}

.scrollButton:hover {
  background-color: #444;
}

info {
  display: flex;
  align-items: center; /* จัดกึ่งกลางในแนวตั้ง */
  gap: 8px; /* ระยะห่างระหว่างไอคอนและข้อความ */
  white-space: pre-line;
}
