/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 .heroBanner {
  height: 100vh; /* Make the hero banner take the full viewport height */
  padding: 4rem 2rem;
  text-align: center;
  position: relative;
  overflow: hidden; /* Ensure content doesn't overflow */
  color: #ffff; /* Text color */
  background-color: black !important;
  z-index: 1; /* Ensure content stays on top */
}

.heroBanner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/img/background2.png'); /* Path to your background image */
  background-size: cover; /* Ensure the image covers the entire area */
  background-repeat: no-repeat; /* Prevent repeating */
  background-position: center; /* Center the image */
  z-index: -1; /* Send the pseudo-element behind the content */
  filter: blur(7px);
  background-color: black;
}

.heroLogo {
  position: relative;
  z-index: 1;
  width: 100px;
  height: auto;
  max-width: 80%;  /* Make the logo responsive */
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem; /* Reduce padding on smaller screens */
    height: auto;  /* Allow height to adjust based on content */
  }

  .heroLogo {
    width: 80px;  /* Reduce logo size on medium devices */
  }
}

@media screen and (max-width: 768px) {
  .heroBanner {
    padding: 1.5rem; /* Further reduce padding on small screens */
    height: auto;  /* Let the height adjust automatically */
  }

  .heroLogo {
    width: 60px;  /* Further reduce logo size for mobile */
  }
}